
<body>
   <a href="http://localhost:3000/">home</a>

  {{#if guitar}} 
     <li>brand: {{guitar.brand}} </li>
     <li>color: {{guitar.color}} </li>
  {{else}} 
    Guitar not found
  {{/if}}

</body>
