<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>


</head>
<body>
    <h1>Guitars Ltd. est 1988</h1>
    <p class="gtr"></p>

    {{{body}}}

{{!-- <script src="../scripts.js"></script> --}}
</body>
</html>