<html>
<head>
    <title>React App Demo</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <link href="../public/styles.css" type="text/css" rel="stylesheet">

</head>

<body>

<div id="root"></div>
<script type="text/babel">
    // define your sub components here
    const ItemList = (props) => {
      const bullets = props.items.map((item) => {
        return <li onClick={props.handleClick} key={item._id}>{item.model}</li>
         
      });
      return <ul>{bullets}</ul>
    }   
    // component that is responsible for displaying the guitar details
   const ItemDetails = (props) => {
        return <div>

          <form>
            Model <input type="text" value={props.item.model || ""}/><br/>
            Brand <input type="text" value={props.item.brand || ""}/><br/>
            Color <input type="text" value={props.item.color || ""}/><br/>
            Year <input type="text" value={props.item.year || ""}/>
          </form>
          <button onClick={props.handleClear}>Clear</button>
          <button onClick={props.handleDelete}>Delete</button>
       </div>
   }

    class App extends React.Component{
      constructor(props){
          super(props);
          // Set initial state using data from server application
          this.state = {
            items: {{{ guitars }}},
            currentItem: { } // current selected item
          };

          // bind application state to click handler
          this.selectItem = this.selectItem.bind(this);
          this.handleClear = this.handleClear.bind(this);
          this.handleDelete = this.handleDelete.bind(this);
       }

      handleClear () {
        this.setState({currentItem: {}})
      }
      
      handleDelete () {
        console.log('delete me')
        fetch(`/api/v2/delete/${this.state.currentItem._id}`)
          .then((response) => {
            return response.json();
          })
          .then((result) => {
            console.log(result) 
            let arrPostion = this.state.items.findIndex(item => this.state.currentItem._id === item._id );
            let newArray = this.state.items
            if(arrPostion > -1){
              newArray.splice(arrPostion, 1)
            }

            this.setState({items: newArray})
            this.setState({currentItem: {}})
            // on success, remove deleted item from this.state.items
          })
            .catch(err => console.log(err))
      }


      // handle list item clicked
      selectItem(event) {
        // event.target is the HTML item clicked
        console.log(event.target.innerText);
        const found = this.state.items.find((item) => {
          return item.model === event.target.innerText;
        });
        console.log(found)
        this.setState({currentItem: found})
      }

      render() {
        // render app UI elements
        return (
          <div className="wrapper">
          <ItemList items={this.state.items} handleClick={this.selectItem}/>
          <ItemDetails item={this.state.currentItem} handleClear={this.handleClear} handleDelete={this.handleDelete}/>
          <h2>Components go here</h2>
          </div>
          );
      }
    }

    ReactDOM.render(<App />, document.getElementById('root'));
</script>
</body>
</html>