<html>
<head>
    <title>React App Demo</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>

<body>

<div id="root"></div>
<script type="text/babel">
    // define your sub components here
    const ItemList = (props) => {
      const bullets = props.items.map((item) => {
        return <li onClick={props.handleClick} key={item._id}>{item.model}</li>
         
      });
      return <ul>{bullets}</ul>
    }   

   const ItemDetails = (props) => {
     return <div>
       <h3>Item detials for {props.item.model}</h3>
       <li>Brand: {props.item.brand}</li>
       <li>Color: {props.item.color}</li>
       <li>Year: {props.item.year}</li>

       </div>
   }

    class App extends React.Component{
      constructor(props){
          super(props);
          // Set initial state using data from server application
          this.state = {
            items: {{{ guitars }}},
            currentItem: { } // current selected item
          };

          // bind application state to click handler
          this.selectItem = this.selectItem.bind(this);
       }

      // handle list item clicked
      selectItem(event) {
        // event.target is the HTML item clicked
        console.log(event.target.innerText);
        const found = this.state.items.find((item) => {
          return item.model === event.target.innerText;
        });
        console.log(found)
        this.setState({currentItem: found})
      }

      render() {
        // render app UI elements
        return (
          <div>
          <ItemList items={this.state.items} handleClick={this.selectItem}/>
          <ItemDetails item={this.state.currentItem}/>
          <h2>Components go here</h2>
          </div>
          );
      }
    }

    ReactDOM.render(<App />, document.getElementById('root'));
</script>
</body>
</html>